*{
    font-family: Arial, sans-serif;
}

.sessionm-sort-arrow {
     padding: 0;   
    font-size: .75em;
    top: 5px;
    top: 12px !important;
}

.sessionm-filter-type{
     margin-right: 0 !important;   
}

.frame_container{border:1px black solid; width: 65%;margin-left: 72px;}

.redeem-form-row{padding-left: 90px;}

#rewardAmount{width:60%;}

.redeem-button{padding-left: 299px;padding-bottom: 10px;}

.redememption-labels{margin-left: 66px;text-align: center;text-transform: uppercase;}

.remove-redemption{padding-left: 299px;padding-bottom: 10px;}

.redemtion-limit {padding-left:102px;padding-bottom: 10px;}